

.theme-dust{
  @primary-color: rgb(245, 34, 45);
}
.theme-volcano{
  @primary-color: rgb(250, 84, 28);
}
.theme-sunset{
  @primary-color: rgb(250, 173, 20);
}
.theme-cyan{
  @primary-color: rgb(19, 194, 194);
}
.theme-green{
  @primary-color: rgb(82, 196, 26);
}
.theme-geekblue{
  @primary-color: rgb(47, 84, 235);
}
.theme-purple{
  @primary-color: rgb(114, 46, 209);
}