.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  // control the app setting drawer's show and hidden
  .app-setting-toggle{
    position: fixed;
    top: 200px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    z-index: 1001;
    transition: all .2s linear;
  }

  // site layout header
  .layout-header {
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }

  // site layout body
  .layout-body {
    flex: 1;
    display: flex;

    // the sider contain menus
    .layout-sider {
      height: 100%;
      overflow-y: auto;
    }

    // the layout body right
    .layout-body-container {
      flex: 1;

      // the global breadcrumb container
      .layout-breadcrumb {
        padding-left: var(--normal-gutter);
        height: 40px;
        line-height: 40px;
      }

      // the page view box
      .layout-page-container {
        padding: var(--normal-gutter);
      }
    }
  }
}


.ant-setting-drawer-content{
  .ant-setting-drawer-title{
    color: var(--text-color);
  }

  .theme-color-content{
    display: flex;
    .theme-color-block{
      width: 20px;
      height: 20px;
      margin-right: 8px;
      font-weight: 700;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      color: #fff;
    }
  }
}